In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [110]:
sitio_trans = Table.read_table('data/sitio_transferencia.csv')
sitio_trans.show()

In [116]:
a = sitio_trans.where(0, are.equal_to('sito_transferencia_gam'))
a

id_sitio_trans         | sitiodispfinal_milagro | sitiodispfinal_cañada | sitiodispfinal_cuauti | sitiodispfinal_chicolo | sitiodispfinal_cuautla | planta_compost | plantaselec_stacat | plantaselec_sja
sito_transferencia_gam | 6.75                   | 9.13                  | 13.3                  | 0.86                   | 0                      | 119.46         | 0                  | 6.51

In [117]:
# Sin incluir Planta compactadora
sum(a.column(1)+a.column(2)+a.column(3)+a.column(4)+a.column(5)+a.column(6)+a.column(7)+a.column(8))

156.01

In [83]:
# Solo Sitios de disposición final
b = sitio_trans.where(0, are.equal_to('sitio_transferencia_azcapo'))
sum(b.column(1)+b.column(2)+b.column(3)+b.column(4)+b.column(5))

726.83

In [35]:
# Total Milagro
sum(sitio_trans.column(1))

1855.92

In [39]:
sitio_trans.select(np.arange(6))

id_sitio_trans               | sitiodispfinal_milagro | sitiodispfinal_cañada | sitiodispfinal_cuauti | sitiodispfinal_chicolo | sitiodispfinal_cuautla
sitio_transferencia_miguelh  | 0                      | 0                     | 0                     | 0                      | 0
sitio_transferencia_alvaro   | 199.61                 | 309.14                | 272.88                | 0                      | 0
sitio_transferencia_tlalpan  | 65.15                  | 122.23                | 0                     | 0                      | 0
sitio_transferencia_coyo     | 226.13                 | 335.28                | 0                     | 6.71                   | 6.49
sitio_transferencia_xochi    | 88.41                  | 141.19                | 0.14                  | 0                      | 0
sitio_transferencia_milpa    | 6.45                   | 22.45                 | 0.04                  | 0                      | 0
sitio_transferencia_venus    | 353.14                 | 27.65                 | 0                     | 4.31                   | 0
sitio_transferncia_benito    | 67.07                  | 111.81                | 38.01                 | 3.72                   | 0
sitio_tranferencia_iztapa    | 419.03                 | 579.39                | 9.51                  | 36.74                  | 0
sio_transferencia_cuauhtémoc | 151.94                 | 286.8                 | 39.28                 | 19.53                  | 0
... (2 rows omitted)

In [40]:
# Cañada
sum(sitio_trans.column(2))

2036.1499999999999

In [41]:
# Cuautitlán
sum(sitio_trans.column(3))

723.57

In [42]:
# Chicoloapan
sum(sitio_trans.column(4))

84.97

In [43]:
# Cuautla
sum(sitio_trans.column(5))

6.49

In [48]:
sitio_trans.select(0,7,8).show()

In [51]:
# Santa Catarina
sum(sitio_trans.column(7))

490.81000000000006

In [52]:
# San Juan Aragón
sum(sitio_trans.column(8))

1130.98

In [49]:
sitio_trans.select(0,6).show()

In [50]:
sum(sitio_trans.column(6))

1272.58